@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}
.home-desktop{
  display: none;
}

.planet-desktop {
  display: none;
}
.btn {
  width: 100px;
  height: 35px;
  background-color: #46A358;
  border-radius: 6px;
  margin-left: 20px;
}

.header-span{
  margin-left: 10px;
  color: white;
  font-size: 16px;
  line-height: 20px;
}

.planet{
  width: 1200px;
  height: 450px;
  position: static;
  margin-top: 60px;
}

.planet-img{
  width: 135px;
  left: 135px;
  bottom: 180px;
  position: relative;
}

.planet-left{
  margin-top: 80px;
  width: 1200px;
  height: 450px;
}

.h1{
  width: 205px;
  height: 16px;
  font-size: 14px;
  line-height: 16px;
  color: #3D3D3D;
  margin-bottom: 20px;
}

.h2{
  width: 530px;
  height: 140px;
  font-size: 70px;
  line-height: 70px;
  margin-bottom: 20px;
} 

.span{
  color: #46A358;
  font-size: 70px;
  line-height: 70px;
}

.p{
  width: 557px;
  height: 45px;
  margin-bottom: 40px;
  color: #727272;
  font-size: 14px;
  line-height: 24px;
}

.planet-btn{
  width: 140px;
  height: 40px;
  background-color: #46A358;
  border-radius: 6px;
  color: white;
}

@media only screen and (max-width: 600px){
  .home-mobile{
    display: none;
  }
  .home-desktop{
    display: flex
  }
  .planet-desktop{
    display: flex
  }
  .container{
    max-width: 500px;
    margin: 0 auto;
    padding: 1rem;
  }
  .mobile{
    width: 366px;
    height: 45px;
  }
  
  .mobile-div{
    width: 313px;
    height: 45px;
    border: 10px solid #F8F8F8;
    background-color: #F8F8F8;
    border-radius: 10px;
  }
  
  .mobile-lupa{
    width: 22px;
    height: 22px;
    color: #A5A5A5;
  }
  .mobile-span{
    width: 104px;
    height: 16px;
    font-size: 14px;
    line-height: 16px;
    color: #A5A5A5;

  }
  .mobile-icon_div{
    width: 45px;
    height: 45px;
    background-color: green;
    border-radius: 14px;
    display: flex;
  }
  .mobile-icon{
    width: 22px;
    height: 22px;
    margin: 0 auto;
    margin-top: 10px;
  }
  .mobile-planet{
    display: none;
  }

  .planet-mobile{
    width: 366px;
    height: 190px;
    border: 10px solid #A5A5A5;
    background-color: #A5A5A5;
    border-radius: 16px;
  }
  .mobile-left_span{
    color: green;
    font-size: 24px;
    line-height: 29px;
  }
  .mobile-h1{
    width: 140px;
    height: 16px;
    font-size: 11px;
    line-height: 16px;

  }
  .mobile-h2{
    width: 182px;
    height: 58px;
    font-size: 24px;
    line-height: 29px;
  }
  .mobile-p{
    width: 206px;
    height: 37px;
    font-size: 12px;
    line-height: 18px;
    color: #727272;
  }
  .planet-mobile_btn{
    color: #46A358;
  }
  .planet-mobile-right{
    position: static;
  }
  .planet-mobile-img{
    width: 82px;
    height: 82px;
    position: relative;
    left: -20px;
    bottom: 88px;
    margin-left: 4px;
  }
}